header {
  background-color: $header-bg;
  position: sticky;
  top: 0;
  left: 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $gap-md 0;
  }
}

.menu {
  display: flex;

  li {
    font-weight: bold;
    margin-left: $gap-lg;

    a {
      color: $white;
      text-decoration: none;
    }
  }
}
