section {
  padding: $section-padding 0;
}

.products {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 32.66%);
  column-gap: 1%;
  row-gap: 4%;
}

.product-item img {
  width: 100%;
  border-radius: $radius-img;
}

.product-button {
  display: block;
  background-color: $btn-bg;
  color: $white;
  text-align: center;
  padding: $gap-sm 0;
  border-radius: $radius-btn;
  margin-top: $gap-sm;
  text-decoration: none;

  &:hover {
    background-color: $btn-bg-hover;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 80%;
  }

  .products {
    grid-template-columns: repeat(2, 48.5%);
    column-gap: 3%;
  }
}

@media (max-width: 767px) {
  .products {
    display: block;
  }

  .product-item {
    margin-bottom: 32px;
  }
}
